# Standard Deviation and Variance of Population and Sample

In [ ]:
# !pip install pydataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from scipy.stats import skew

initiated datasets repo at: /root/.pydataset/

In [ ]:
df = data('Boston')

In [ ]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
df.shape

(506, 14)

In [ ]:
sample = df.sample(n=50)

In [ ]:
sample.shape

(50, 14)

In [ ]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
sample.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,2.826601,6.920000,11.315400,0.080000,0.558060,6.140660,64.396000,3.858414,8.72000,389.540000,18.176000,362.135000,13.289200,22.578000
std,6.310098,19.111211,7.044919,0.274048,0.128401,0.829373,29.268803,1.959551,8.72725,177.201052,2.219998,84.634576,7.587132,9.504957
min,0.017780,0.000000,1.470000,0.000000,0.403000,3.561000,2.900000,1.202400,2.00000,188.000000,12.600000,18.820000,2.960000,8.400000
25%,0.092982,0.000000,6.280000,0.000000,0.448000,5.731250,40.600000,1.902575,3.00000,264.000000,16.925000,376.737500,7.175000,15.800000
50%,0.208895,0.000000,8.140000,0.000000,0.522000,6.066500,65.650000,3.720300,5.00000,307.000000,18.600000,391.880000,12.535000,21.050000
75%,2.568765,0.000000,18.100000,0.000000,0.643000,6.406500,93.200000,5.524350,5.75000,607.000000,20.200000,395.967500,16.500000,24.750000
max,37.661900,95.000000,27.740000,1.000000,0.871000,8.297000,100.000000,7.653400,24.00000,711.000000,21.000000,396.900000,34.020000,50.000000

In [ ]:
age_std = np.std(df['age'], ddof = 1)
age_var = np.var(df['age'], ddof = 1)
print(f'Age Standard Deviation: {np.round(age_std, 3)}')
print(f'Age Variance: {np.round(age_var, 3)}')

Age Standard Deviation: 28.149
Age Variance: 792.358

# Task
- Try different sample size and analyse how the statistics of the sample is changing